[submodule "Annotations/Mujarobat Doa/arab-ocr-synthesizer"]
	path = Annotations/Mujarobat Doa/arab-ocr-synthesizer
	url = https://github.com/bltszr/arab-ocr-synthesizer.git
[submodule "arab-ocr-synthesizer"]
	path = arab-ocr-synthesizer
	url = https://github.com/bltszr/arab-ocr-synthesizer.git
[submodule "ctc-crnn"]
	path = ctc-crnn
	url = https://github.com/bltszr/ctc-crnn-pegon-ocr.git
[submodule "dataset/annotated"]
	path = dataset/annotated
	url = https://github.com/bltszr/pegon-annotated-dataset.git
